body{
    background: #FAFAFA;
}

.container{
	margin: 0 25%;
	margin-top: 5%;
}

.mdc-card{
	position: relative;
}

.course-info, .mdc-card__actions{
	padding: 1.2rem;
}

.course-info{
	padding-bottom: 0;
	display: flex;
	flex-direction: row;
}

.course-info .left{
	flex-grow: 1;
}

.course-info .right {
    flex-shrink: 0;
    padding: 0 20px;
}

.description{
	text-indent: 1.3rem;
}

.description, .rating-amount{
	color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
}

a {
	margin-left: 5px;
}

.rating-score{
	display: flex;
    align-items: center;
}

.rating-score.good, .rating-box.good{
	color: #1B5E20;
}

.rating-score.okay, .rating-box.okay{
	color: #FF9800;
}

.rating-score.poor, .rating-box.poor{
    color: #FF5722;
}

.rating-score.bad, .rating-box.bad{
    color: #C62828;
}

.rating-star{
	margin-left: 7px;
}

.review-input {
    border: none;
    outline: 0;
    padding: 10px 1rem;
    margin: 0px;
    resize: vertical;
    font-family: Roboto,sans-serif;
    font-size: 0.9rem;
    flex-grow: 1;
	border-bottom: 0.5px solid rgba(0,0,0,0.4);
}

.review-input-title{
	flex-shrink: 0;
	border: none;
	border-bottom: 0.5px solid rgba(0,0,0,0.4);
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    padding: 10px 1rem;
}

.review-input-title, .review-input{
    transition: border-bottom 50ms linear;
}

.review-input-title.error, .review-input.error{
    border-bottom: 2px solid #e53935;
}

.review-box .title {
    padding: 1rem;
    border-bottom: 0.5px solid rgba(0,0,0,0.4);
	height: 32px;
    overflow: hidden;
}

.review-actions {
    border-top: 0.5px solid rgba(0,0,0,0.4);
    padding: 0.3rem 1.2rem;
}

.review-box {
    display: flex;
    flex-direction: column;
	min-height: 0px;
	width: 0px;
	transition: min-height 150ms ease, width 150ms ease;
	overflow: hidden;
	background: white;
	position: absolute;
    bottom: 0;
    z-index: 15;
}

.rating-row{
    display: flex;
    padding: 0 0.5rem;
}

.rating-box{
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 0 10px;
    margin: 10px;
    transition: border 150ms linear;
}

.rating-box.error{
    border-radius: 3px;
    border: 2px solid #E53935;
}

.rating-box .rating-star{
    margin: 0 3.5px;
    transition: opacity 100ms ease-in;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rating-box .score{
    margin-left: 1rem;
    width: 2rem;
}

.rating-box.hover *{
    opacity: 0.5;
}


.review {
    margin: 2rem 0;
}

.mdc-menu-anchor{
     display: inline;
}

.mdc-list-item .material-icons {
    margin-right: 10px;
}

.review .user {
    display: flex;
    flex-direction: column;
}

.review .info {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    padding-bottom: 0.5rem;
}

.review .rating-score{
	margin: 1.2rem;
    border-radius: 5px;
    border: 2px solid;
    padding: 0 10px;
}

.spacer {
    flex-grow: 1;
}

.review .text {
    padding: 10px 1rem;
    color: rgba(0,0,0,0.84);
    text-indent: 1.5rem;
}


.review .date {
    padding: 1rem;
    padding-top: 0.5rem;
    color: var(--mdc-theme-text-primary-on-light);
}

.review .author-name {
    color: rgba(0,0,0,0.54);
}

.review-container{
    margin: 0 10%;
}

/* App Bar */
.app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar a {
    color: black;
    text-decoration: none;
    transition: color 150ms ease;
    margin-right: 1rem;
}

.navbar a:hover {
    color: rgba(0,0,0,0.7);
}


.app-bar .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user img {
    border-radius: 50%;
    height: 2rem;
}

.user span {
    margin: 0 10px;
}

.heading-container{
    margin: 5rem 0;
    width: 50%;
}

.heading-container > div{
    width: 100%;
    background: white;
}

.heading-container nav{
    text-align: center;
}

.course-browser{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firebaseui-idp-list{
    margin: 5px 0;
}

.firebaseui-idp-list .firebaseui-list-item{
    margin: 0;
}

.text-card {
    padding: 1.2rem 2rem;
    margin: 2rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 150ms ease, color 150ms ease;
}

.text-card:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.8);
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading .material-icons{
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

.mdc-snackbar{
    z-index: 100000;
}

.shared{
    animation: scale .5s ease-in-out;
}

@keyframes scale{
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% {transform: scale(1);}
}