html {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
    margin-bottom: 1em;
}

nav {
    padding-top: .75em;
	padding-bottom: 0.5em;
}

nav ul{
	list-style-type: none;
	padding-top: 1em;
}

nav ul li{
	display: inline-block;
	padding-right: 2em;
    float: left;
}

nav ul li a {
	font-size: 18px;
}

#categories {
    padding-top: 2em;
    width: 70%;
    margin: auto;
    text-align: center;
}

#categories ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    width: 80%;
    margin: auto;
    list-style: none;
    padding-top: 2em;
}

#categories li {
    padding: 1em;
    font-size: 1.3em;
    list-style: none;
    padding-top: 1em;
    width: 250px;
    height: 60px;
}

#categories li:hover {
    color: #337ab7;
    cursor: pointer;
}

#course-browser {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    width: 80%;
    margin: auto;
    list-style: none;
}

#course-browser li {
    font-size: 1em;
    width: 250px;
    height: 60px;
    margin: auto;
    padding-top: 1em;
    padding-right: .5em;
    padding-left: .5em;
}

#about-detail {
    width: 40%;
    margin: 0 auto;
    padding-top: 1em;
}

#about-detail h2 {
    font-size: 2em;
    padding-top: 1em;
}

#about-detail p {
    font-size: 1.2em;
    padding-top: .5em;
}

a {
    color: #000;
}

img {
	height:50px;
	width: 50px;
}

form {
	width: 60%;
	margin: 5em auto;
}

#firebaseui-auth-container form {
    margin: 0 !important;
}

#firebaseui-auth-container div {
    height: 30px;
    width: 76px;
}

#firebaseui-auth-container button {
    transform: translate(0px, -20px);
}

.firebaseui-busy-indicator {
    display: none !important;
    height: 0;
}

.mdl-button--raised {
    box-shadow: none;
}

.react-autosuggest__container {
    padding: 3em;
    margin: 0 auto;
    position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    margin: 0 auto;
    top: 51px;
    width: 250px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
    border-top: 0;
}

.react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
}

.glyphicon {
    font-size: 1.5em;
}

.review-text {
    font-family: roboto;
    font-size: 0.95em;
    max-width: 1000px;
    text-align: justify;
    margin: 0 auto;
    background-color: #EEE;
    padding: 20px;
    border-radius: 25px;
}

.course-info {
    max-width: 1000px;
    text-align: justify;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 20px;
    border-radius: 5px;
}

.back-li {
    padding-top: .5em;
    padding-bottom: 1.5em;
}

.back-li:hover {
    color: #337ab7;
    cursor: pointer;
}